* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', 'Space Grotesk', sans-serif;
}

body {
    background-color: rgb(7, 75, 82);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 64px;
    color: white;
    margin: 0;
    padding: 32px 0;
    letter-spacing: 8px;
}

h2 {
    font-size: 16px;
    margin: 0 0 12px 0;
    color: rgb(153, 213, 220);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 8px;
}

button {
    font-size: 14px;
    padding: 12px;
    border-style: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.clicked {
    background-color: white;
    color: rgb(8, 38, 41);
}

.content {
    margin: 0 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#settings {
    background-color: rgba(0, 0, 0, 50%);
    width: 400px;
    height: 640px;
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    overflow: scroll;
}

.displayBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#pad {
    width: 640px;
    height: 640px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: rgba(0, 0, 0, 50%);
    flex-shrink: 0;
}

.singleRow {
    height: 100%;
    display: flex;
    gap: 1px;
}

.singleSq {
    background-color: rgb(245, 245, 245);
    width: 100%;
}